* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  margin: 0;
  background-color: #f2f2f2;
}

.container {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 5rem;
  width: 1200px;
  height: 100%;
  max-width: 1500px;
  /* transform: translateY(600px); */
}

input,
button {
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #333;
}

#recipes {
  margin-top: 20px;
}

.recipes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.recipes div {
  border-radius: 8px;
  border: 1px solid #333;
  max-height: 600px;
}

.recipes div a {
  color: #333;
}
